header{
    text-align: center;
    position: fixed;
    padding: 25px 20px 20px 20px;
    top: 0;
    width: 100vw;
    height: 40px;
    background-color: rgb(170, 170, 170);
    font-weight: bold;
    font-size: 20px;
    color: white;
    z-index: 9999;
}
nav a{
    padding: 5% 15px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    position: fixed;
    top: 12px;
    right: 30px;
    font-size: 15px;
}
nav a:hover{
    color: rgb(141, 141, 141);
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: 5px 5px 5px -2px rgba(128,128,128);
    transition: 0.3s;
}
h3{
    position: fixed;
    top: -12px;
    left: 40px;
    font-size: 32px;
}